body{
    background-image: url("https://raw.githubusercontent.com/GamerCleanVic/archives/main/images/raios.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    background-color: #003b88;
}

.containerPrincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    box-sizing: 98%;
}
@media only screen and (max-width: 1025px){
    .containerPrincipal{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
    }
    .containerCard1{
        width: 70% !important;
    }
}
.autorTitulo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem !important;
}
.programacaoTI{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1.2rem;
}
.freelance{
    margin-top: 1.2rem;
}
.designGeral{
    margin-top: 1.2rem;
}

.containerCard1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #7F669D;
    color: #FBFACD;
    width: 37%;
    padding: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 7px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.7rem !important;
}
.tituloPrincipal{
    color: #FBFACD;
    font-family: Finger Paint,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.7rem !important;
}
.paragPrincipal{
    color: #FBFACD;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.7rem !important;
}
.aParag{
    background-color: #DEBACE;
    color: #392e3f;
    width: 90%;
    padding: 2rem;
    border-radius: 7px;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.7rem !important;
}

.aParag a{
    text-decoration: none;
    background-color: #392e3f;
    color: #FBFACD;
    border: solid 2px #9882a7;
    padding: 3px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 0.7rem !important;
}
.aParag a:hover{
    background-color: #FBFACD;
    color: #7F669D;
    font-weight: bold;
    border: solid 2px #7F669D;
    transition: 0.9s;
}
.aParag h2{
    text-transform: uppercase;
}
.h1Teste, .h2Teste2{
    text-transform: uppercase;
}

.linksAutor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #DEBACE;
    color: #392e3f;
    width: 80%;
    padding: 2rem;
    margin: 0.5rem;
    border-radius: 7px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 0.7rem !important;
}
.linksAutor a{
    text-decoration: none;
    background-color: #392e3f;
    color: #FBFACD;
    border: solid 2px #9882a7;
    border-radius: 7px;
    margin-left: 7px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: bold;
    font-size: 0.7rem !important;
}
.linksAutor a:hover{
    background-color: #FBFACD;
    color: #392e3f;
    border: solid 2px #392e3f;
    transition: 0.9s;
}

.titleColor{
    background-color: #392e3f;
    font-size: 0.7rem !important;
}
